<p>directives-nav works!</p>
<nav class="navigation-left">    
    <li class=""><a routerLink="add-events">Добавление событий</a></li>     
    <li><a routerLink="create-directive">Создание директива</a></li>    
    <li><a routerLink="create-structural-directive">Создание структурной директивы</a></li>    
    <li><a routerLink="get-access-to-element">Получение доступа к элементу</a></li>
    <li><a routerLink="host-binding">HostBinding</a></li>
    <li><a routerLink="send-parameters-to-directive">Передача параметров в директиву</a></li>
</nav>