<p>components-nav works!</p>

<nav class="navigation-left">    
    <li class=""><a routerLink="access-to-content-child">Доступ до контента с ContentChild</a></li>     
    <li><a routerLink="access-to-html-elements">Интерполяция</a></li>    
    <li><a routerLink="change-detection-strategy">Change Detection Strategy</a></li>    
    <li><a routerLink="create-components">Как создавать компоненты</a></li>
    <li><a routerLink="lifecycle-hooks">Жизненный цикл (lifecycle hooks)</a></li>
    <li><a routerLink="parameter-passing">Передача параметров</a></li>
    <li><a routerLink="styles-view-incapsulation">Стили с viewIncapsulation</a></li>
    <li><a routerLink="transfer-html-to-component">Передача HTML в компонент</a></li>   
    <li><a routerLink="passing-params-from-components">Передача параметров из компонентов</a></li>   
</nav>