
<div class="card">
  <h2>Post title</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos omnis repellendus reprehenderit harum dolore nam explicabo tempora officia, sequi rerum animi magnam dolores in beatae obcaecati eligendi consequuntur hic quidem!
  Vero illum nostrum expedita! Odit, fuga perspiciatis. Omnis laborum enim, ducimus autem qui ipsa hic adipisci id voluptatum maiores optio vel, dolores accusamus! Illo ex labore tenetur debitis totam esse.
  Veritatis minima atque deserunt consequuntur, cumque possimus consequatur est provident, illo pariatur non consectetur commodi accusantium maiores fugit saepe cum officia vero autem enim mollitia libero rerum ad beatae? Consequuntur?
  Ex aperiam temporibus sapiente laboriosam, voluptatibus optio harum atque asperiores aut est ab pariatur, omnis deserunt. Eum temporibus dolorum, commodi quia porro quam? Natus, saepe eius id necessitatibus aperiam ad!
  Cumque expedita animi reiciendis fugit magni dolorem quibusdam, deleniti vel saepe debitis dicta voluptatibus quia vero quas delectus sed inventore quaerat? Eaque ipsam sint recusandae, veniam voluptatem aliquam eius ut.</p>
</div>

