<main class="all-page">
    <section class="content-block">
        <h2 class="h2"> {{title}} </h2>
        <p> 
            <strong> {{ number }} </strong> <br>
            <strong> {{ number - 3 }} </strong><br>
            <strong> {{ arr }} </strong> <i> arr = [1, 1, 2, 3, 5, 8] </i> <br>
            <strong> {{ obj }} </strong> <i>Angular call .toString for obj  => [object Object]</i> <br>
            <strong> {{ obj.a }} </strong> <i> obj.a  </i> <br>
            <strong> {{ obj.b.c }} </strong> <i> obj.b.c  </i> <br>
            <strong class="for-margo"> {{ 'Hello, ' + 'Margosha!' }} </strong>
        </p>
    </section>
</main>