<p>basics-nav works!</p>

<nav class="navigation-left">    
    <li class="active"><a routerLink="templates-styles">Шаблоны и стили</a></li>     
    <li><a routerLink="interpolation">Интерполяция</a></li>    
    <li><a href="what-is-bindings">Что такое bindings</a></li>    
    <li><a href="event-bindings">Как работает Event Bindings</a></li>
    <li><a href="two-way-binding">2 Way Binding</a></li>
    <li><a href="ng-style">Директива ngStyle</a></li>
    <li><a href="dynamic-classes-ng-class">Динамические классы ngClass</a></li>
    <li><a href="conditional-display-ngif-else">Отображение по условию с ngIf else</a></li>
    <li><a href="ng-switch">Директива ngSwitch</a></li>
    <li><a href="series-ng-for">Циклы с ngFor</a></li>
    <li><a href="what-is-pipes">Что такое pipes</a></li>
</nav>