<router-outlet></router-outlet>

<nav class="navigation-left">    
    <li class="" ><a routerLink="templates-styles" >Шаблоны и стили</a></li>     
    <li><a routerLink="interpolation">Интерполяция</a></li>    
    <li><a routerLink="what-is-bindings">Что такое bindings</a></li>    
    <li><a routerLink="event-bindings">Как работает Event Bindings</a></li>
    <li><a routerLink="two-way-binding">2 Way Binding</a></li>
    <li><a routerLink="ng-style">Директива ngStyle</a></li>
    <li><a routerLink="dynamic-classes-ng-class">Динамические классы ngClass</a></li>
    <li><a routerLink="app-conditional-display-ngif-else">Отображение по условию с ngIf else</a></li>
    <li><a routerLink="ng-switch">Директива ngSwitch</a></li>
    <li><a routerLink="series-ng-for">Циклы с ngFor</a></li>
    <li><a routerLink="what-is-pipes">Что такое pipes</a></li>
</nav>