@import '../../../../../assets/scss/variables';

.container {
    border: 1px solid $tiffany;
    padding: 5px;
}
.row {
    display: flex;
    margin: 15px 0;
}
.command {
    flex-shrink: 0;
}
.buffer {
    width: 50px;
}
.description {
    flex-shrink: 1;
}

