<nav class="navigation">
    <!-- BasicsAndSyntaxRoutingModule -->
    <li routerLinkActive="active"><a routerLink="basic-and-syntax">Основы и синтаксис</a></li> 

    <!-- ComponentsInDetailRoutingModule -->
    <li routerLinkActive="active"><a routerLink="components-in-detail">Компоненты в деталях</a></li>

    <!-- DirectivesModule -->
    <li routerLinkActive="active"><a routerLink="directives">Директивы</a></li>

    
    <!-- <li><a href="">Пайпы</a></li>
    <li><a href="">Сервисы</a></li>
    <li><a href="">Формы и валидация</a></li>
    <li><a href="">Работы с сервером (HttpClient)</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li> -->
</nav>