<router-outlet></router-outlet>

<nav class="navigation-left">    
    <li routerLinkActive="active"><a routerLink="create-components">Как создавать компоненты</a></li>
    <li routerLinkActive="active"><a routerLink="parameter-passing">Передача параметров</a></li>
    <li routerLinkActive="active"><a routerLink="passing-params-from-components">Передача параметров из компонентов</a></li> 
    <li routerLinkActive="active"><a routerLink="access-to-html-elements">Доступ до HTML элементов</a></li>
    <li routerLinkActive="active"><a routerLink="transfer-html-to-component">Передача HTML в компонент</a></li> 
    <li routerLinkActive="active"><a routerLink="access-to-content-child">Доступ до контента с ContentChild</a></li>
    <li routerLinkActive="active"><a routerLink="lifecycle-hooks">Жизненный цикл (lifecycle hooks)</a></li>
    <li routerLinkActive="active"><a routerLink="change-detection-strategy">Change Detection Strategy</a></li>
    <li routerLinkActive="active"><a routerLink="styles-view-incapsulation">Стили с ViewIncapsulation</a></li>      
</nav>