<main class="all-page components-details">    

    <h2 class="h2">How to create components</h2>    

    <p>Parameter-passing works! Lesson 22.</p>    

    <div class="container">       
           
    </div>

    <section class="form">
       
        <button class="btn">Add post</button>
    </section>
    <br>
    <br>
    <br>
    <section class="form">
        <p appColory #colory="colory">This ts file contains the method, which changing random color on click. Used directive. CLICK ME!!!</p>
        <button class="btn" (click)="colory.setRandomColor()">Change text color</button>
    </section>

    <hr>

    

    
</main>


