<main class="all-page">    

    <h2 class="h2">What is Pipes</h2>    

    <p>what-is-pipes works! Lesson 20.</p>    

    <p>
        Just standart string. Syntax on double braces <strong> {{now}}</strong> 
    </p>
    <p>
        With pipe. Syntax: "now | date"  <strong> {{ now | date }}</strong>
    </p>

    <p>
        With pipe. Syntax: "now | date: 'long'"  <strong> {{ now | date: 'long' }}</strong>
    </p>

    <p>
        With pipe. Syntax: "now | date:'long' | uppercase"  <strong> {{ now | date:'long' | uppercase }}</strong>
    </p>

    <p>
        With pipe. Syntax: "now | date:'long' | lowercase"  <strong> {{ now | date:'long' | lowercase }}</strong>
    </p>
    
       
</main>